body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}


.nav {
  background-color: green;
  display: flex;
  justify-content: center;
}

.navBar {
  width: 80%;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.navBar h1 {
  color: white;
}

.sectionContainer {
  display: flex;
  justify-content: center;
}

.bannerContainer {
  width: 80%;
  display: flex;
  justify-content: center;
}
.bannerContainer img {
  width: 100%;
}
